$("ul.errors").html("")
<% if @service_charge.errors.any? %>
  <% @service_charge.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $("#meal-modal").modal("hide")
  window.location.reload();
<% end %>