<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">About Business</h4>
    </div>
    <%=simple_form_for @business, remote: true do |f| %>
    <%= f.error_notification %>
      <div class="modal-body">
        <ul class="errors text-danger">
        </ul>
        <%if @business.logo.blank? %>
          <center><%=image_tag("default.png", height: 80, width: 80, :class=>"img-square") %></center>
        <% else %>
          <center><%= image_tag @business.logo.url(:large), class: 'center-block img-responsive img-rounded'%></center>
        <% end %>
        <center><%= f.input :logo, as: :file %></center>
        <%=f.input :name %>
        <%=f.input :tin %>
        <%=f.input :vat,  as: :boolean, label: 'VAT Registered', input_html: { class: 'inline'}  %>
        <%=f.input :proprietor %>
        <%= f.input :address %>
        <%=f.input :mobile %>
        <%=f.input :email %>

	      <div class="modal-footer">
	        <%#= link_to 'Cancel', monitoring_project_path(@project), class: 'btn btn-default pull-left' %>
	        <%= link_to "Cancel", "#", class: "btn btn-default pull-left", data: {dismiss: "modal"} %>
	        <%=f.submit "Save", class: "btn btn-primary" %>
	      </div>
	    </div>
    <% end %>
  </div>
</div>
