<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Service Cost </h4>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <ul class="errors text-danger">
          </ul>
          <%=simple_form_for @service_charge, url: :service_fees, remote: true do |f| %>
          <%=f.error_notification %>
            <%=f.input :description, input_html: {value: 'Service Fee'}, as: :hidden %>
            <%= f.input :charge_type, input_html: {value: 'service_fee'}, as: :hidden %>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :unit, input_html: {value: "unit"}, as: :hidden %>
              </div>
              <div class="col-md-6">
                <%=f.input :quantity, input_html: {value: 1}, as: :hidden %>
              </div>
            </div>
            <div class="form-group has-success">
              <label class="text-success required">Total Catering Amount</label>
              <input type="number" id="total-catering-amount" oninput="calculateGain()" class="form-control numeric decimal required" >
            </div>
            <div class="form-group has-warning">
              <label class="text-warning">Less Catering Cost</label>
              <input value="<%= @cart.total_catering_cost %>" class="form-control" id="total-catering-cost" readonly="readonly">
            </div>
            <%= f.input :unit_cost, label: "Service Fee / Gain", input_html: {id: "gain"}, readonly: true %>
            <div class="modal-footer">
              <%= link_to "Cancel", "#", class: "btn pull-left", data: {dismiss: "modal"} %>
              <%=f.submit "Save", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function calculateGain() {
    var totalAmount = document.getElementById('total-catering-amount').value;
    var totalExpenses = document.getElementById('total-catering-cost').value;
    var gainAmount = document.getElementById('gain');

    var myResult = totalAmount - totalExpenses
    gainAmount.value = myResult;
  }
</script>