<div class="tab-pane <%='active' if current_page? stock_histories_product_path %>">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Purchase Date</th>
        <th></th>
        <th>Qty </th>
        <th> Sold </th>
        <th> In Stock </th>
        <th>Unit</th>
        <th> Supplier</th>
        <th> Exp. Date </th>
        <th> Unit Cost </th>
        <th> Total Purchase </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%@stocks.each do |stock| %>
        <tr>
          <td><%=link_to stock.date.strftime('%B %e, %Y'), product_stock_path(product_id: @product.id, id: stock.id), remote: true %></td>
          <td>
            <small class='label label-<%="danger" if stock.out_of_stock?%><%= "warning" if stock.low_stock? && !stock.expired?%><%= "danger" if !stock.low_stock? && stock.expired?%><%= "danger" if stock.expired_and_low_stock?%><%= "danger" if stock.returned_out_of_stock_or_expired?%><%= "danger" if stock.discontinued_out_of_stock_or_expired?%>'><%=stock.status %></small>
          </td>
          <td><%=stock.quantity %></td>
          <td><%=stock.sold %></td>
           <td><%=stock.in_stock %></td>
          <td><%=stock.product.unit %></td>
          <td><%=stock.supplier.business_name %></td>
          <td>
            <% if stock.expiry_date.present? %>
              <%= stock.expiry_date.strftime("%b %e, %Y") %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td><%= number_to_currency stock.unit_cost %></td>
          <td><%=number_to_currency stock.total_cost %></td>
          <td class="pull-right">
            <%= link_to "Details", product_stock_path(product_id: @product.id, id: stock.id), class: 'btn btn-xs btn-info' %>
            &nbsp&nbsp
            <%= link_to "Edit", edit_product_stock_path(product_id: @product.id, id: stock.id), class: "btn btn-xs btn-warning" %>
            &nbsp&nbsp
            <%= link_to product_stock_path(product_id: @product.id, id: stock.id), method: :delete, title: 'Delete Stock', data: {confirm: 'Are you sure you want to delete this stock? This action can not be undone.'} do %>
              <span class="text-danger" title="Delete Stock" data-toggle='tooltip'><i class="fa fa-trash"></i></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="modal-footer">
    <center><%= paginate @stocks, :window => 1 %></center>
  </div>
</div>
<div id="stock-show-modal" class="modal fade"></div>