<ul class="nav navbar-nav">
  <li>
    <a href="">
      <span class="title">MAIN NAVIGATION</span>
    </a>
  </li>
  <li>
    <a href="/products">
      <span class="icon fa fa-cubes"></span> <span class="title">Products</span>
    </a>
  </li>
  <li>
    <a href="/stocks">
      <span class="icon fa fa-tag"></span> <span class="title">Stocks</span>
    </a>
  </li>
  <li>
    <%= link_to retail_and_wholesale_orders_path do %>
      <span class="icon fa fa-cart-plus"></span> <span class="title">Sales</span>
    <% end %>
  </li>
  <li>
    <a href="/credits">
      <span class="icon fa fa-cart-arrow-down text-danger"></span> <span class="title">Credits</span>
    </a>
  </li>
  <li>
    <a href="/suppliers">
      <span class="icon fa fa-male"></span> <span class="title">Suppliers</span>
    </a>
  </li>
  <li>
    <a href="/reports">
      <span class="icon fa fa-file-text-o"></span> <span class="title">Reports</span>
    </a>
  </li>
</ul>
