<% VoucherAmount.all.each do |amount| %>
	<%= amount.description %>
<% end %>

<%= simple_form_for @voucher do |f| %>
	<%= f.input :description, as: :text %>
	<%= f.input :amount %>
	<%= f.input :amount_type, as: :radio_buttons, collection: VoucherAmount.amount_types.keys.to_a.map {|a| [a.titleize, a]} %>
	<%= f.input :credit_account_id, input_html: {value: "#{Accounting::Account.find_by(name: 'Cash on Hand - Teller').id}"} %>
	<%= f.input :debit_account_id, collection: Accounting::Expense.all.map {|e| [e.name, e.id]} %>
	<%= f.submit %>
<% end %>