<div class="col-md-6 col-md-offset-3">
  <div class="card card-danger">
    <div class="card-header">
      <div class="card-title">
        <h4> Return Stock Details</h4>
        <span class="text-muted">Product: &nbsp&nbsp&nbsp</span> <span class="text-danger"><%= @stock.product.name_and_description%></span><br>
        <span class="text-muted">Remaining Stock: &nbsp&nbsp&nbsp</span> <span class="text-danger"><%= @refund.stock.in_stock%> <%= @refund.stock.product.unit%></span>
      </div>
    </div>
    <div class="card-body">
      <%=simple_form_for [@stock, @refund] do |f| %>
        <%=f.error_notification %>
        <%= f.input :date, as: :string, input_html: { class: 'datepicker'} %>
        <%= f.input :employee_id, input_html: {value: current_user.id }, as: :hidden %>
        <label>Quantity(<%= @stock.product.unit%>)</label>
        <%= f.input :quantity, label: false, input_html: {oninput: 'calculateStockAmount()', id: "quantity", value: @stock.in_stock} %>
        <input type="number" id="price" value="<%= @stock.unit_cost %>" hidden=hidden >
        <%= f.input :amount, label: "Refund Amount", input_html: {id: "total"} %>
        <%= f.input :remarks, as: :text %>
        <div class="modal-footer">
          <%=link_to 'Cancel', stock_path(@stock), class: 'btn btn-default pull-left' %>
          <%=f.submit 'Save', class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#refund_stock_id").select2({
      theme: "bootstrap"
    });
  });
</script>

<script type="text/javascript">
  function calculateStockAmount() {
    var qty = document.getElementById('quantity').value;
    var prc = document.getElementById('price').value;

    var ttl = document.getElementById('total');
    var myResult = qty * prc;
    ttl.value = myResult;
  }
  window.onload = calculateStockAmount;
</script>
