<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Snacks </h4>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <ul class="errors text-danger">
          </ul>
          <%=simple_form_for @service_charge, url: :snacks, remote: true do |f| %>
          <%=f.error_notification %>
            <%=f.input :description, as: :text %>
            <%= f.input :charge_type, input_html: {value: 'snack'}, as: :hidden %>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :unit %>
              </div>
              <div class="col-md-6">
                <%=f.input :quantity %>
              </div>
            </div>
            <%= f.input :unit_cost %>
            <div class="modal-footer">
              <%= link_to "Cancel", "#", class: "btn pull-left", data: {dismiss: "modal"} %>
              <%=f.submit "Save", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
