<%=simple_form_for @entry, url: :accounting_consignment_entries do |f| %>
<%=f.error_notification %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">New Consignment </h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <%=f.input :reference_number %>
            </div>
            <div class="col-md-6">
              <%=f.input :date, as: :string, input_html: { class: "datepicker" } %>
              <%=f.input :entry_type, as: :hidden, input_html: { value: "consignment" } %>
            </div>
          </div>
          <%=f.input :description, as: :text %>
          <%=f.input :commercial_document_id, label: 'Supplier', collection: Supplier.all.map{ |a| [a.business_name, a.id]} %>
          <%=f.input :commercial_document_type, input_html: {value: 'Supplier'}, as: :hidden %>
          <%=f.simple_fields_for :debit_amounts do |ff| %>
            <%=ff.input :amount, input_html: {class: 'input-lg input-warning' } %>
            <%=ff.association :account, input_html: { value: Accounting::Account.find_by(name: "Cash on Hand - Teller").id}, readonly: true, as: :hidden%>
          <% end %>
          <%=f.simple_fields_for :credit_amounts do |ff| %>
            <%=ff.input :amount, as: :hidden %>
            <%=ff.association :account, input_html: { value: Accounting::Account.find_by(name: "Consignment Sales").id}, readonly: true, as: :hidden %>
          <% end %>
          <br>
          <div class="modal-footer">
            <%= f.submit 'Save Entry', class: "btn btn-primary" %>
            <span class="pull-left">
              <%=link_to 'Cancel', consignment_orders_path, class: 'btn btn-default' %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $("#accounting_entry_commercial_document_id").select2({
      theme: "bootstrap"
    });
  });
</script>