<div id="member-modal" class="modal fade"></div>
<div id="organization-modal" class="modal fade"></div>
<div class="row">
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <div class="row">
          <div class="col-md-3">
            <h4 class="title"> Customers </h4>
          </div>
          <div class="col-md-6">
            <%=form_tag customers_path, method: :get do %>
              <div class="input-group stylish-input-group" id="product-prefetch">
                <%= autocomplete_field_tag "full_name", params[:full_name], autocomplete_customer_full_name_customers_path, class: 'form-control', placeholder: 'Enter Customer Name...' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <span class="pull-right">
              <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                  <button href="#" class="dropdown-toggle btn btn-success" data-toggle="dropdown" aria-expanded="false">New Customer <b class="caret"></b></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><%=link_to "New Member", new_member_path, remote: true %></li>
                    <li> <%=link_to 'New Organization', new_organization_path, remote: true %></li>
                  </ul>
                </li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th> Mobile Number</th>
              <th> Address </th>
              <th>
                <%=link_to customers_path(format: 'pdf') do %>
                  <span class="btn btn-default pull-right"><i class="fa fa-file-text-o"></i> View Report</span>
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |member| %>
              <tr>
                <td><%= link_to member.full_name, info_customer_path(member) %></td>
                <td><%= member.mobile %></td>
                <td><%= member.address_details %></td>
                <td>
                  <% if member.class.name == "Member" %>
                    <%= link_to 'Update Info', edit_member_path(member), remote: true, class: 'btn btn-xs btn-warning'%>
                  <% elsif member.class.name == "Organization" %>
                    <%= link_to 'Update Info', edit_organization_path(member), remote: true, class: 'btn btn-xs btn-warning'%>
                  <% end %>
                  <%= link_to 'Details', info_customer_path(member), remote: true, class: 'btn btn-xs btn-info'%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="modal-footer">
          <center><%= paginate @customers, :window => 1 %></center>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
