<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-5">
              <h4>Order Details</h4>
              <p>Invoice No.: <%=@order.invoice_number.try(:number) %></p>
            </div>
            <div class="col-md-7">
              <span class="pull-right">
                <p><%=@order.date.strftime("%A, %B %e, %Y %H:%m %p") %></p>
                <% if @order.line_items.present? %>
                  <span>
                    <%=link_to order_return_order_path(@order), data: { confirm: "By doing so, all line items under this order will be returned. Do you wish to continue?"} do %>
                      <span class="btn btn-danger btn-xs" title="By doing so, all line items under this order will be deleted too" data-toggle='tooltip'><i class="fa fa-exclamation"></i> Return this Order</span>
                    <% end %>
                    <%=link_to 'Print Invoice', print_invoice_order_path(@order, format: 'pdf'), class: 'btn btn-primary btn-xs' %>
                  </span>
                <% else %>
                  <span>
                    <%=link_to order_path(@order), method: :delete, data: { confirm: "By doing so, all line items under this order will be returned. Do you wish to continue?"} do %>
                      <span class="btn btn-danger btn-xs" title="Delete Order" data-toggle='tooltip'><i class="fa fa-trash"></i></span>
                    <% end %>
                    <%=link_to 'Print Invoice', print_invoice_order_path(@order, format: 'pdf'), class: 'btn btn-primary btn-xs' %>
                  </span>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h4>Customer</h4>
        <table class="table">
          <tr>
            <td width="150px"><b>Name: </b></td>
            <td><%=@order.customer.try(:full_name) || 'Guest'%></td>
          </tr>
          <tr>
            <td width="150px"><b>Address: </b></td>
            <td><%=@order.customer.try(:address_details) || 'N/A' %></td>
          </tr>
          <tr>
            <td width="150px"><b>Mobile Number:</b></td>
            <td><%=@order.customer.try(:mobile_number) || 'N/A' %></td>
          </tr>
        </table>
        <% if @order.catering? %>
          <hr>
          <h4>Catering Items</h4>
          <br>
        <% end %>
        <% if @order.service_charges.present? %>
          <table class="table table-hover">
          <% @order.meals_and_snacks.each do |line_item| %>
            <tr>
              <td><%= line_item.description %></td>
              <td><%= line_item.quantity %> <%= line_item.unit %></td>
              <td class="text-right"><%= number_to_currency line_item.unit_cost %></td>
              <td class="text-right"><%= number_to_currency line_item.total_cost %></td>
              <td>
                <div class="pull-right">
                  <%=link_to service_charge_path(id: line_item, order_id: @order.id), method: :delete, data: {confirm: 'Are you sure?'} do %>
                    <span class="btn btn-danger btn-xs" title="Return Item" data-toggle='tooltip'><i class="fa fa-undo"></i></span>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
          </table>
        <% end %>
        <hr>
        <% if @order.catering? %>
          <h4><b>Purchase Charges </b></h4>
        <% else %>
          <h4><b>Items </b></h4>
        <% end %>
        <br>
        <table class="table table-hover">
          <%@order.line_items.each do |line_item| %>
            <tr>
              <td><%=line_item.stock.try(:name)%></td>
              <td><%=line_item.quantity %> <%= line_item.stock.product.unit%></td>
              <td class="text-right">
                <%=number_to_currency line_item.unit_price %>
              </td>
              <td class="text-right">
                <%=number_to_currency line_item.total_price %>
              </td>
              <% if @order.line_items.count > 1 %>
                <td>
                  <div class="pull-right">
                    <%=link_to line_item_return_path(order_id: @order.id, line_item_id: line_item.id), method: 'return', data: {confirm: 'Are you sure?'} do %>
                      <span class="btn btn-danger btn-xs" title="Return Item" data-toggle='tooltip'><i class="fa fa-undo"></i></span>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
          <% if @order.service_charges.present? %>
            <% @order.purchases.each do |line_item| %>
              <tr>
                <td><%= line_item.description %></td>
                <td><%= line_item.quantity %> <%= line_item.unit %></td>
                <td class="text-right"><%= number_to_currency line_item.unit_cost %></td>
                <td class="text-right"><%= number_to_currency line_item.total_cost %></td>
                <td>
                  <div class="pull-right">
                    <%=link_to service_charge_path(id: line_item, order_id: @order.id), method: :delete, data: {confirm: 'Are you sure?'} do %>
                      <span class="btn btn-danger btn-xs" title="Return Item" data-toggle='tooltip'><i class="fa fa-undo"></i></span>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
            <tr>
              <td colspan="5">
                <b>Additional Charges: </b>
              </td>
            </tr>
            <% @order.additional_charges.each do |line_item| %>
              <tr>
                <td><%= line_item.description %></td>
                <td><%= line_item.quantity %> <%= line_item.unit %></td>
                <td class="text-right"><%= number_to_currency line_item.unit_cost %></td>
                <td class="text-right"><%= number_to_currency line_item.total_cost %></td>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <% if @order.line_items.count > 1 %>
              <td></td>
            <% end %>
            <td width="60px" class="text-right"><b>SubTotal: </b></td>
            <td class="text-right"><%=number_to_currency @order.total_amount_without_discount %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <% if @order.line_items.count > 1 %>
              <td></td>
            <% end %>
            <td width="60px" class="text-right"><b class="text-danger">Discount: </b></td>
            <td class="text-right"><span class='text-danger'><%= number_to_currency @order.total_discount%></span></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <% if @order.line_items.count > 1 %>
              <td></td>
            <% end %>
            <td width="60px" class="text-right"><h4><b>Total:</b></h4></td>
            <td class="text-right"><h4><%=number_to_currency @order.total_amount_less_discount %></h4></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
