
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-2">
              <h4>Office Expenses</h4>
            </div>
            <div class="col-md-8">
              <h4 class="title text-center"><%=number_to_currency @total_expenses_amount %></h4>
              <h5 class="text-muted text-center">TOTAL EXPENSES</h5>
              <hr>
            </div>
            <div class="col-md-2">
              <%= link_to "New Expense", new_office_expense_path, class: 'btn btn-success pull-right' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= form_tag({:action => "index", controller: "office_expenses", format: 'pdf'}, {:method => :get})  do %>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <%= text_field_tag :from_date, @from_date, :class => 'from-date datepicker-reporting form-control border-input', :placeholder => "From " %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <%= text_field_tag :to_date, @to_date, :class => 'to-date form-control border-input datepicker-reporting', :placeholder => "To " %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button type="submit" class="btn btn-success" id="viewReport"><i class="fa fa-print"></i> View Report </button>
                    <span class='pull-right'>
                      <%=link_to scope_to_date_office_expenses_path(@member, :from_date => Time.zone.now.beginning_of_year, :to_date => Time.zone.now.end_of_year, format: 'pdf')  do %>
                        <btn class="btn btn-info"><i class="fa fa-print"></i> View Report(Annual) </btn>
                      <% end %>
                    </span>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table table-responsive">
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th> Date </th>
                <th> Reference Number</th>
                <th> Items </th>
                <th> Qty </th>
                <th>Unit Cost</th>
                <th>Sub Total </th>
                <th><span class="pull-right"> Total Cost </span></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @office_expenses.each do |order| %>
                <tr>
                  <td><%=order.date.strftime("%B %e, %Y") %></td>
                  <td><%= link_to order.invoice_number.number, order %></td>
                  <td>
                    <% order.line_items.each do |line_item| %>
                      <p><%= line_item.stock.product.name_and_description %></p>
                    <% end %> 
                  </td>
                  <td>
                    <% order.line_items.each do |line_item| %>
                      <p><%= line_item.quantity %> <%= line_item.stock.product.unit %></p>
                    <% end %>
                  </td>
                  <td>
                    <% order.line_items.each do |line_item| %>
                      <p><%= number_to_currency line_item.unit_price %></p>
                    <% end %> 
                  </td>
                  <td>
                    <% order.line_items.each do |line_item| %>
                      <p><%= number_to_currency line_item.total_price %></p>
                    <% end %>  
                  </td>
                  <td><span class='pull-right'><%=number_to_currency order.total_amount_less_discount_plus_interest %></span></td>
                  <td><%=order.pay_type.try(:titleize) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="modal-footer">
            <center><%= paginate @office_expenses %></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#viewReport').prop('disabled',true);
    $('.to-date').click(function(){
      $('#viewReport').prop('disabled', this.value == "" ? true : false);     
    })
  });
</script>