<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<div class="row">
						<div class="col-md-6">
							<h4>Voucher Items</h4>
						</div>
						<div class="col-md-6">
						<%= link_to "New Item", new_voucher_amount_path, class: 'btn btn-info pull-right', remote: true %>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Description</th>
							<th>Amount</th>
							<th>Debit Account</th>
							<th>Credit Account</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% if @voucher_session.voucher_amounts.present? %>
							<%= render @voucher_session.voucher_amounts %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<h4>Voucher Details</h4>
				</div>
			</div>
			<div class="card-body">
				<%= simple_form_for @voucher do |f| %>
					<%= f.input :date, as: :string, input_html: {class: 'datepicker', value: Time.zone.now.strftime("%Y-%m-%d %I:%M %p")} %>
					<br>
					<%= f.input :description, as: :text %>
					<br>
					<hr>
					<br>
					<br>
					<%= link_to "Cancel", vouchers_path, class: 'btn btn-default pull-left' %>
					<%= f.submit "Save Voucher", class: 'btn btn-success pull-right' %>
					<br>
					<br>
					<br>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div id="voucher-amount-modal" class="modal fade"></div>
