<div id="product-modal" class="modal fade"></div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-6">
              <%=form_tag products_path, method: :get do %>
                <div class="input-group">
                  <%= autocomplete_field_tag "name_and_description", params[:name_and_description], autocomplete_product_name_and_description_products_path, class: 'form-control', placeholder: 'Search Product...' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
            <div class="col-md-2">
              <%=link_to products_path(format: 'pdf') do %>
                <span class="btn btn-default pull-right"><i class="fa fa-file-text-o"></i> View Report</span>
              <% end %>
            </div>
            <div class="col-md-2">
              <%=link_to download_products_path(format: :xlsx) do %>
                <span class="btn btn-default pull-right"><i class="fa fa-file-text-o"></i> Export (Excel)</span>
              <% end %>
            </div>
            <div class="col-md-2">
              <%=link_to new_product_path, remote: true do %>
                <span class="btn btn-primary pull-right"><i class="fa fa-plus"></i> New Product</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <div class="pad box-pane-left bg-green" style="min-height: 280px">
                <h4>Categories</h4>
                <table class="table table-responsive table-hover">
                  <% Category.all.each do |category| %>  
                    <tr class="bg-info">
                      <td>
                        <span class="bg-info"><%= "(#{category.products.count})" %></span>
                        <%=link_to " #{category.name.truncate(25)}", scope_to_category_products_path(category: category), title: category.name %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <div class="table-responsive table-full-width">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Unit</th>
                    <th><span class='pull-right'> Retail</span></th>
                    <th><span class='pull-right'> Wholesale</span> </th>
                    <th><span class='pull-right'> Deliveries </span> </th>
                    <th><span class='pull-right'>In Stock</span></th>
                    <th><span class='pull-right'>Sold </span></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @products.each do |product| %>
                    <tr class="<%="text-danger" if product.out_of_stock?%> <%= "text-warning" if product.low_stock?%>">
                      <td>
                        <%=link_to product.name_description, stock_histories_product_path(product) %>
                        <small class="label label-<%="danger" if (product.out_of_stock? || product.any_expired_and_low_stock? || product.any_expired?) %><%= "warning" if product.low_stock?%>">
                          <%= product.stock_alert %>
                        </small>
                      </td>
                      <td><%= product.unit %></td>
                      <td><span class='pull-right'><%=number_to_currency product.retail_price%></span></td>
                      <td><span class='pull-right'><%=number_to_currency product.wholesale_price%></span></td>
                      <td><span class='pull-right'><%=product.quantity%></span></td>
                      <td><span class='pull-right'><%=product.in_stock%></span></td>
                      <td><span class="pull-right"><%=product.sold %></span></td>
                      <td class="text-right">
                        <%=link_to "Add Stock", new_product_stock_path(product), class: 'btn btn-xs btn-primary' %>&nbsp;&nbsp;
                        <%=link_to "Edit", edit_product_path(product), class: 'btn btn-xs btn-success', remote: true %>&nbsp;&nbsp;
                        <%= link_to product_path(product), method: :delete, title: 'Delete Product', data: {confirm: 'Are you sure you want to delete this stock? This action can not be undone.'} do %>
                          <span class="text-danger" title="Delete" data-toggle='tooltip'><i class="fa fa-trash fa-lg"></i></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="box-footer">
              <% if current_page? products_path %>
                <center><%= paginate @products, params: { controllers: 'products', action: 'index' } %></center>
              <% else %>
                <center><%= paginate @products, params: { controllers: 'products', action: 'scope_to_category' } %></center>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#search').bind('railsAutocomplete.select', function(event, data){
  $('#search-form').submit()
  });
</script>
