<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Product </h4>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <ul class="errors text-danger">
          </ul>
          <%=simple_form_for @product, remote: true do |f| %>
          <%=f.error_notification %>
            <%=f.input :name, autofocus: true %>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :description %>
              </div>
              <div class="col-md-6">
                <%= f.input :category_id, collection: Category.all %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :unit, label: 'Unit' %>
              </div>
              <div class="col-md-6">
                <%=f.input :stock_alert_count %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :retail_price, label: 'Retail Price' %>
              </div>
              <div class="col-md-6">
                <%=f.input :wholesale_price, label: 'Wholesale Price' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :program_product, label: "Program", input_html: { checked: true } %>
              </div>
              <div class="col-md-6">
                <%=f.input :program_id, label: 'Select Program', collection: Program.all.map{ |a| [a.name, a.id]}, selected: Program.all.first %>
              </div>
            </div>

            <div class="modal-footer">
              <%= link_to "Cancel", "#", class: "btn pull-left btn-default", data: {dismiss: "modal"} %>
              <%=f.submit "Save Product", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script>
  var checkbox = document.getElementById('program-product');
  var details_div = document.getElementById('programs');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script> -->