<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-1">
              <span> 
                <%= link_to products_path, title: "Go to Products" do %>
                  <button class="btn btn-lg btn-default" title="Go to Products" data-toggle='tooltip'><i class="fa fa-chevron-left fa-2x"></i></button>
                <% end %>
              </span>
            </div>
            <div class="col-md-7">
              <h4>
                <%=@product.name_and_description.try(:upcase) %> &nbsp; &nbsp; 
                <small class="label label-<%="danger" if @product.out_of_stock? %><%= "warning" if @product.low_stock?%>">
                  <%= @product.stock_alert %>
                </small>
              </h4>
              <div class="row">
                <div class="col-md-4">
                  <p><span class="text-danger"><i class="fa fa-minus-circle"></i> SOLD: <%= @product.sold %></span></p>
                  <p class="text-info"><i class="fa fa-dollar"></i> RETAIL: <%=number_to_currency @product.retail_price %></p>
                </div>
                <div class="col-md-4">
                  <p><span class="text-success"><i class="fa fa-server"></i> IN STOCK: <%=@product.in_stock %></span></p>
                  <p class="text-info"><i class="fa fa-dollar"></i> WHOLESALE: <%= number_to_currency @product.wholesale_price %></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <span class='pull-right'>
                <%=link_to 'Edit Product', edit_product_path(@product), class: 'btn btn-warning', remote: true %>
                <%=link_to 'New Barcode', new_product_barcode_path(@product), class: 'btn btn-info', remote: true %>
                <%=link_to 'New Stock', new_product_stock_path(@product), class: 'btn btn-primary' %>&nbsp &nbsp                
                <%= link_to product_path(@product), method: :delete, title: 'Delete Product', data: {confirm: 'Are you sure you want to delete this stock? This action can not be undone.'} do %>
                  <span class="text-danger" title="Delete" data-toggle='tooltip'><i class="fa fa-trash fa-lg"></i></span>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
      <div class="nav-tabs-navigation">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="<%='active' if current_page? stock_histories_product_path %>">
            <%= link_to 'Stocks', stock_histories_product_path %>
          </li>
          <li class="<%='active' if current_page? cash_sales_product_path %>">
            <%= link_to 'Cash Sales', cash_sales_product_path %>
          </li>
          <li class="<%='active' if current_page? credit_sales_product_path %>">
            <%= link_to 'Credit Sales', credit_sales_product_path %>
          </li>
          <li class="<%='active' if current_page? barcode_product_path %>">
            <%= link_to 'Barcodes', barcode_product_path %>
          </li>
          <li class="<%='active' if current_page? reports_product_path %>">
            <%= link_to 'Reports', reports_product_path %>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="tab-content">
          <%= render '/products/histories/stock_histories' if current_page? stock_histories_product_path %>
          <%= render '/products/histories/cash_sales' if current_page? cash_sales_product_path %>
          <%= render '/products/histories/credit_sales' if current_page? credit_sales_product_path %>
          <%= render '/products/histories/barcode' if current_page? barcode_product_path %>
          <%= render '/products/reports/reports' if current_page? reports_product_path %>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="product-modal" class="modal fade"></div>
<div id="barcode-modal" class="modal fade"></div>