<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Voucher Item </h4>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <ul class="errors text-danger">
          </ul>
          <%= simple_form_for @amount, url: :voucher_amounts, remote: true do |f| %>
          <%= f.error_notification %>
            <%= f.input :description, as: :text %>
            <%= f.input :amount %>
            <label>Amount Type</label>
            <%= f.input :amount_type, label: false,  as: :radio_buttons, collection: VoucherAmount.amount_types.keys.to_a.map {|a| [a.titleize, a]} %>
            <%= f.input :credit_account_id, input_html: {value: "#{Accounting::Account.find_by(name: 'Cash on Hand - Teller').id}"}, as: :hidden %>
            <%= f.input :debit_account_id, collection: Accounting::Expense.all.map {|e| [e.name, e.id]} %>

            <div class="modal-footer">
              <%= link_to "Cancel", "#", class: "btn pull-left", data: {dismiss: "modal"} %>
              <%=f.submit "Save Amount", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>  
