$("ul.errors").html("")
<% if @amount.errors.any? %>
  <% @amount.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $("#voucher-amount-modal").modal("hide")
  window.location.reload();
<% end %>
