<tr>
  <td><%= voucher_amount.description %></td>
  <td><%= number_to_currency voucher_amount.amount %></td>
  <td><%= voucher_amount.debit_account %></td>
  <td><%= voucher_amount.credit_account %></td>
  <td>
    <%= link_to voucher_amount, method: :delete, data: {confirm: 'Are you sure?'}, title: 'Delete' do  %>
      <span class="text-danger" title="Delete" data-toggle='tooltip'><i class="fa fa-trash"></i></span>
    <% end %>
  </td>
</tr>