
$("#voucher_amount_debit_account_id").select2({
  theme: "bootstrap",
  width: "100%"
})
$("#voucher-amount-modal").html("<%= escape_javascript(render 'new') %>")
$("#voucher-amount-modal").modal( {
    backdrop: 'static',
    keyboard: false
})
