
<ul class="list-unstyled team-members">
  <li id="current_item">
    <div class="row">
      <div class="col-xs-3">
          <small><%= service_charge.quantity %> <%= service_charge.unit %></small>
      </div>
      <div class="col-xs-4">
        <small>
          <%= service_charge.description %><br>
          <span class="text-muted"><%=number_to_currency service_charge.unit_cost%></span>
        </small>
      </div>
      <div class="col-xs-2 text-right">
        <small>
          <%=number_to_currency service_charge.total_cost %>
        </small>
      </div>
      <div class="col-xs-2">
        <%=link_to service_charge, method: :delete, data: {confirm: 'Are you sure?'}, class: ' pull-right' do %>
          <span class='text-danger' title="Remove Item" data-toggle='tooltip'><i class="fa fa-times-circle-o fa-2x"></i></span>
        <% end %>
      </div>
    </div>
    <hr>
  </li>
</ul>
