<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<h4>New Voucher</h4>
				</div>
			</div>
			<div class="card-body">
				<%= simple_form_for @voucher do |f| %>
					<%= f.input :date, as: :string, input_html: {class: 'datepicker'} %>
					<br>
					<%= f.input :description, as: :text %>
					<br>
					<hr>
					<br>
					<br>
					<%= link_to "Cancel", vouchers_path, class: 'btn btn-default pull-left' %>
					<%= f.submit "Save Voucher", class: 'btn btn-success pull-right' %>
					<br>
					<br>
					<br>
				<% end %>
			</div>
		</div>
	</div>
</div>
