<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<h4>Voucher Details</h4>
				</div>
			</div>
			<div class="card-body">
				<%= simple_form_for @amount, url: :voucher_amounts do |f| %>
					<%= f.error_notification %>
					<%= f.input :description, as: :text %>
					<%= f.input :amount %>
					<label>Amount Type</label>
					<%= f.input :amount_type, label: false,  as: :radio_buttons, collection: VoucherAmount.amount_types.keys.to_a.map {|a| [a.titleize, a]} %>
					<%= f.input :credit_account_id, input_html: {value: "#{Accounting::Account.find_by(name: 'Cash on Hand - Teller').id}"}, as: :hidden %>
					<%= f.input :debit_account_id, collection: Accounting::Expense.all.map {|e| [e.name, e.id]} %>
					<div class="modal-footer">
						<%= link_to 'Cancel Voucher', voucher_path(@voucher), method: :delete, data: {confirm: 'Are you sure you want to delete voucher?'}, class: 'btn btn-default pull-left' %>
						<%= f.submit "Save", class: 'btn btn-success pull-right' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<h4><%= @voucher.description %> Voucher<span class="pull-right"><%= @voucher.date.strftime("%B %e, %Y") %></span></h4>
				</div>
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Description</th>
							<th>Amount</th>
							<th>Debit Account</th>
							<th>Credit Account</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% if @voucher_session.voucher_amounts.present? %>
							<%= render @voucher_session.voucher_amounts %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
  $(document).ready(function() {
    $("#voucher_amount_debit_account_id").select2({
      theme: "bootstrap",
      width: "100%"
    });
  });
</script>